nav ul {
  display: flex;
  justify-content: flex-start;;
  flex-direction: row;
}

#about,
#careers, #contact  {
  padding: 0;
}
.row {
  flex-direction: column;

}
footer .row {
  flex-direction: row;
  flex-wrap: nowrap;
}
footer .column {
  padding: .5em;
  flex: 1 1 50%;
}

.column {
    margin-bottom:20px;
}
.jobs {
  border:none;
  border-top: 2px dashed green;
  padding:0;
}
